// Establish a vertical rhythm
@include establish-baseline;

// Include fonts from Google Fonts
@import url('http://fonts.googleapis.com/css?family=Lato:400,700');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:700');

html {
  @include from(2) {
    font-size: 1.1rem;
  }
  @include from(3) {
    font-size: 1.2rem;
  }
}

body {
  background-color: color(white);
  color: color(gray);
  font-family: font(base);
}

// Blockquote
blockquote {
  margin: 0;
}

// Anchor
a {
  color: color(red--semi-dark);
  text-decoration: none;

  &:hover {
    color: color(red--dark);
  }
}

// Horizontal Rule
hr {
  @include span(6 no-gutters);
  @include pre(3);
  @include post(3);
  @include margin-leader(1);
  @include margin-trailer(2);
  @include clearfix;
  clear: both;
  background-color: color(gray--light);
  border: 0;
  color: color(gray);
  display: block;
  height: 2px;
}
