pre {
  margin: 0;

  code {
    padding: 0;
  }
}

code {
  background-color: color(gray--extra-light);
  border-radius: rhythm(0.125);
  color: color(black);
  padding: rhythm(0.125) rhythm(0.25);
}
