.button {
  @include type-weight(semi-bold);
  background-color: palette(red, semi-dark);
  background-image: none;
  border-radius: 5px;
  color: palette(white);
  display: inline-block;
  padding: rhythm(0.25) rhythm(0.75);

  &:hover {
    background-color: palette(red, dark);
    color: palette(white);
  }

  &--large {
    @extend .button;
    padding: rhythm(0.5) rhythm(1);
  }

  &--slim {
    @extend.button;
    padding: rhythm(0.125) rhythm(0.5);
  }

  &__icon {
    @include type-scale(large);
    @include adjust-leading-to(0.5);
    margin-right: rhythm(0.5);
  }
}
