.excerpt {
  color: color(black);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-style: italic;
  @include margin-leader(1.5);
  @include margin-trailer(1.5);

  &:last-child {
    @include margin-trailer(0);
  }

  &--small {
    @extend .excerpt;
    @include type-scale(small);
    width: span(10 no-gutters);
  }

  &--tiny {
    @extend .excerpt--small;
    @include from(3) {
      width: span(8 no-gutters);
    }
  }

  &--large {
    @extend .excerpt;
    @include type-scale(medium);
    @include from(2) {
      @include type-scale(large, false);
    }
  }

  &--inline {
    @extend .excerpt;
    text-align: left;
  }

  &--code {
    @extend .excerpt--inline;
    @include type-scale(base);
    @include adjust-leading-to(0.8);
    background-color: color(gray--extra-light);
    border-radius: 5px;
    font-family: font(monospaced);
    overflow: auto;
    padding: rhythm(0.75);
    -webkit-overflow-scrolling: touch;

    &--light {
      @extend .excerpt--code;
      background: none;
      border: 2px solid color(gray--light);

      code {
        background: none;
      }
    }
  }
}
