.hero {
  @include margin-trailer(1);
  text-align: center;

  &__logo {
    display: block;
    margin: 0 auto;
    max-width: rhythm(8);
    width: 100%;
    @include from(3) {
      max-width: span(4);
    }
  }

  // Needed to increase specificity to override .content's heading styles
  h1.hero__headline {
    @include type-scale(large);
    @include type-weight(regular);
    color: palette(black);
    @include from(3) {
      @include type-scale(xxlarge, false);
    }
  }

  &__text {
    @include margin-trailer(1);
    @include from(2) {
      @include margin-leader(2);
      @include margin-trailer(2);
      @include type-scale(medium, false);
    }
  }

  &__button {
    @include type-scale(medium);
  }

  &__release {
    @include type-scale(medium);

    &__label {
      color: palette(red);
    }

    &__link {
      @include type-scale(base);
      @include type-weight(regular);
      color: palette(gray);
    }
  }
}
