.navigation {
  &__toggler {
    @include type-scale(large);
    position: absolute;
    top: rhythm(0.8);
    right: rhythm(0.8);
    @include from(2) {
      display: none;
    }

    &--is-hidden {
      display: none;
    }
  }

  &__items {
    display: none;
    margin-left: 0;
    margin-top: rhythm(1);
    @include from(2) {
      display: block;
      margin-top: 0;
    }

    &--is-active {
      display: block;
    }
  }

  &__item {
    border-bottom: 1px solid palette(gray, light);
    display: block;
    @include from(2) {
      border: 0;
      display: inline-block;
      list-style: none;
      margin-left: 0;
      margin-right: rhythm(0.5);

      &:last-child {
        margin-right: 0;
      }
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &__link {
    @include type-weight(semi-bold);
    background: none;
    color: palette(black);
    display: inline-block;
    padding: rhythm(0.25) 0;
    @include from(2) {
      padding: 0;
    }

    &:hover {
      color: palette(red, semi-dark);
    }

    &--is-active {
      @extend .navigation__link;
      @extend .navigation__link:hover;
    }
  }
}
