.sidebar {
  @include type-scale(small);

  &__header {
    @include margin-trailer(0.25);

    &--first {
      @extend .sidebar__header;
      @include margin-trailer(1);
      @include from(2) {
        @include adjust-leading-to(2);
      }
    }
  }

  &__items {
    margin-left: 0;
  }

  &__item {
    display: block;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__link {
    background: none;
    color: inherit;
    display: block;
    padding: rhythm(0.125) 0;

    &:hover {
      color: palette(red, semi-dark);
    }

    &--is-active {
      @extend .sidebar__link;
      @include type-weight(semi-bold);
      color: palette(red, semi-dark);
    }
  }
}
