// Colors
$colors: (
  black: #000,
  white: #fff,
  gray: #666,
  gray--light: #dfdfdf,
  gray--extra-light: #f6f6f6,
  gray--dark: #333,
  red: #f00,
  red--semi-dark: #d0021b,
  red--dark: #970019,
  red--extra-dark: darken(#970019, 10%)
);

// Fonts
$fonts: (
  base: #{Lato, sans-serif},
  logo: #{'Open Sans', sans-serif},
  monospaced: #{Menlo, monospace}
);

// Susy
$susy: (
  columns: 12,
  gutters: 1,
  container: 768px,
  gutter-position: inside
);

// Breakpoint
$breakpoints: (
  step-1: 568px,
  full: 768px,
  full-plus: 1024px
);

// Compass Transition
$global-transition-duration: 0.2s;

// Compass Vertical Rhythm
$base-font-size: 16px;
$base-line-height: $base-font-size * 1.6;
$rhythm-unit: 'rem';
$rem-with-px-fallback: false;
$main-padding-vertical: rhythm(0.9);
$main-padding-horizontal: rhythm(1);

// Typomatic
$type-prefix: 't-';
$type-scale: (
  tiny: (
    font-size: $base-font-size * 0.563,
    base-lines: 0.5
  ),
  small: (
    font-size: $base-font-size * 0.75,
    base-lines: 0.75
  ),
  base: (
    font-size: $base-font-size,
    base-lines: 1
  ),
  medium: (
    font-size: $base-font-size * 1.333,
    base-lines: 1.2
  ),
  large: (
    font-size: $base-font-size * 1.777,
    base-lines: 1.4
  ),
  xlarge: (
    font-size: $base-font-size * 2.369,
    base-lines: 2
  ),
  xxlarge: (
    font-size: $base-font-size * 3.157,
    base-lines: 2.5
  )
);
$type-weight: (
  thin: 200,
  light: 300,
  regular: 400,
  semi-bold: 600,
  bold: 700,
  extra-bold: 800
);
