meta charset='utf-8'
meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'
meta name='viewport' content='initial-scale=1'
title= "Padrino - #{current_page.data.title || 'The Elegant Ruby Web Framework'}"
link rel="icon" type="image/ico" href="/assets/favicon.ico"
= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'
= stylesheet_link_tag 'style'
link href="http://padrinorb.com/blog.rss" rel="alternate" type="application/rss+xml" title="Blog - Padrino Ruby Web Framework"

