.header {
  @include margin-trailer(4.25);
  width: 100%;

  &__name {
    @include type-scale(large);
    @include margin-trailer(0);
    color: color(black);
    position: absolute;
    left: rhythm(0.8);

    a {
      background: none;
      color: inherit;
    }
  }

  &__navigation {
    position: absolute;
    top: rhythm(1);
    right: rhythm(0.8);
  }
}
