.page {
  @include clearfix;
  @include margin-trailer(2);

  &--index {
    text-align: center;

    // Auto styling of code blocks
    pre {
      @extend .excerpt--tiny;
      @extend .excerpt--code--light;
      display: block;
    }
  }

  &__sidebar {
    @include breakpoint(bp(step-1)) {
      @include span(3);
    }
  }

  &__content {
    @include breakpoint(bp(step-1)) {
      @include span(9 last);
    }

    // Auto styling of code blocks
    pre {
      @extend .excerpt--code;
      display: block;
    }
  }
}
