.sidebar {
  @include type-scale(small);

  &__header {
    @include margin-trailer(0.25);

    &--first {
      @extend .sidebar__header;
      @include breakpoint(bp(step-1)) {
        @include margin-trailer(1);
        @include adjust-leading-to(2);
      }
    }
  }

  &__items {
    margin-left: 0;
  }

  &__item {
    border-bottom: 1px solid color(gray--light);
    display: block;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__link {
    background: none;
    color: inherit;
    display: block;
    padding: rhythm(0.25) 0;

    &:hover {
      color: color(red--semi-dark);
    }

    &--is-active {
      @extend .sidebar__link;
      @include type-weight(semi-bold);
      color: color(red--semi-dark);
    }
  }
}
