/*

    Name:       Base16 London Tube Light
    Author:     Jan T. Sott

    Pygments template by Jan T. Sott (https://github.com/idleberg)
    Created with Base16 Builder by Chris Kempson (https://github.com/chriskempson/base16-builder)

*/
.highlight .hll { background-color: #e7e7e8 }
.highlight  { display: inline; color: #231f20 }
.highlight .c { color: #959ca1 } /* Comment */
.highlight .err { color: #ee2e24 } /* Error */
.highlight .k { color: #98005d } /* Keyword */
.highlight .l { color: #f386a1 } /* Literal */
.highlight .n { color: #231f20 } /* Name */
.highlight .o { color: #85cebc } /* Operator */
.highlight .p { color: #231f20 } /* Punctuation */
.highlight .cm { color: #959ca1 } /* Comment.Multiline */
.highlight .cp { color: #959ca1 } /* Comment.Preproc */
.highlight .c1 { color: #959ca1 } /* Comment.Single */
.highlight .cs { color: #959ca1 } /* Comment.Special */
.highlight .gd { color: #ee2e24 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #231f20; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00853e } /* Generic.Inserted */
.highlight .gp { color: #959ca1; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #85cebc; font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #98005d } /* Keyword.Constant */
.highlight .kd { color: #98005d } /* Keyword.Declaration */
.highlight .kn { color: #85cebc } /* Keyword.Namespace */
.highlight .kp { color: #98005d } /* Keyword.Pseudo */
.highlight .kr { color: #98005d } /* Keyword.Reserved */
.highlight .kt { color: #ffd204 } /* Keyword.Type */
.highlight .ld { color: #00853e } /* Literal.Date */
.highlight .m { color: #f386a1 } /* Literal.Number */
.highlight .s { color: #00853e } /* Literal.String */
.highlight .na { color: #009ddc } /* Name.Attribute */
.highlight .nb { color: #231f20 } /* Name.Builtin */
.highlight .nc { color: #ffd204 } /* Name.Class */
.highlight .no { color: #ee2e24 } /* Name.Constant */
.highlight .nd { color: #85cebc } /* Name.Decorator */
.highlight .ni { color: #231f20 } /* Name.Entity */
.highlight .ne { color: #ee2e24 } /* Name.Exception */
.highlight .nf { color: #009ddc } /* Name.Function */
.highlight .nl { color: #231f20 } /* Name.Label */
.highlight .nn { color: #ffd204 } /* Name.Namespace */
.highlight .nx { color: #009ddc } /* Name.Other */
.highlight .py { color: #231f20 } /* Name.Property */
.highlight .nt { color: #85cebc } /* Name.Tag */
.highlight .nv { color: #ee2e24 } /* Name.Variable */
.highlight .ow { color: #85cebc } /* Operator.Word */
.highlight .w { color: #231f20 } /* Text.Whitespace */
.highlight .mf { color: #f386a1 } /* Literal.Number.Float */
.highlight .mh { color: #f386a1 } /* Literal.Number.Hex */
.highlight .mi { color: #f386a1 } /* Literal.Number.Integer */
.highlight .mo { color: #f386a1 } /* Literal.Number.Oct */
.highlight .sb { color: #00853e } /* Literal.String.Backtick */
.highlight .sc { color: #231f20 } /* Literal.String.Char */
.highlight .sd { color: #959ca1 } /* Literal.String.Doc */
.highlight .s2 { color: #00853e } /* Literal.String.Double */
.highlight .se { color: #f386a1 } /* Literal.String.Escape */
.highlight .sh { color: #00853e } /* Literal.String.Heredoc */
.highlight .si { color: #f386a1 } /* Literal.String.Interpol */
.highlight .sx { color: #00853e } /* Literal.String.Other */
.highlight .sr { color: #00853e } /* Literal.String.Regex */
.highlight .s1 { color: #00853e } /* Literal.String.Single */
.highlight .ss { color: #00853e } /* Literal.String.Symbol */
.highlight .bp { color: #231f20 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #ee2e24 } /* Name.Variable.Class */
.highlight .vg { color: #ee2e24 } /* Name.Variable.Global */
.highlight .vi { color: #ee2e24 } /* Name.Variable.Instance */
.highlight .il { color: #f386a1 } /* Literal.Number.Integer.Long */
