// Global imports
@import '~breakpoint-sass';
//@import '~breakpoint-slicer';
@import '~flask';
@import '~susy';
//
// // Config -> recursive imports are not working
//@import '_config/*.scss';
@import '_config/_breakpoint_slicer';
@import '_config/_flask';
@import '_config/_susy';
@import '_config/_typomatic';
@import '_config/_vertical_rhythms';

//
// // Functions
// @import '_functions/**/*';
@import '_functions/_map-fetch';
//
// // Libraries
// @import '_lib/_vertical-rhythms';
// @import '_lib/**/*';
@import '_lib/_vertical-rhythms';
@import '_lib/_foundation';
@import '_lib/_pygments-base16-london-tube-light';
@import '_lib/_typomatic';
//
// // Mixins
// @import '_mixins/**/*';
@import '_mixins/_clearfix';
//
// // Base
// @import '_base/**/*';
// @import '_base/_base';
@import '_base/_code';
@import '_base/_headings';
@import '_base/_tables';
@import '_base/_text';
//
// // Modules
// @import '_modules/**/*';
@import '_modules/_article';
@import '_modules/_button';
@import '_modules/_clearfix';
//@import '_modules/_content';
//@import '_modules/_excerpt';
@import '_modules/_footer';
// @import '_modules/_grid';
// @import '_modules/_header';
// @import '_modules/_hero';
@import '_modules/_highlight';
@import '_modules/_label';
// @import '_modules/_navigation';
@import '_modules/_padrino-name';

// Custom
a.gitter-open-chat-button,  a.gitter-open-chat-button:hover {
  background-color: red;
  border-color: #443d68;
}

