@import url(http://fonts.googleapis.com/css?family=Lato:400,700);@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0; }

iframe {
  border: 0; }

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
figure,
button {
  margin: 0;
  padding: 0; }

li {
  display: block; }

strong {
  font-weight: bold; }

sup {
  position: relative;
  top: -.5em;
  font-size: 65%;
  line-height: 0;
  vertical-align: baseline; }

a,
button {
  color: inherit; }

a {
  text-decoration: none; }

button {
  overflow: visible;
  border: 0;
  font: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  -webkit-font-smoothing: inherit; }
  button:focus {
    outline: 0; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

/*

    Name:       Base16 London Tube Light
    Author:     Jan T. Sott

    Pygments template by Jan T. Sott (https://github.com/idleberg)
    Created with Base16 Builder by Chris Kempson (https://github.com/chriskempson/base16-builder)

*/
.syntax .hll {
  background-color: #e7e7e8; }

.syntax {
  background: #ffffff;
  color: #231f20; }

.syntax .c {
  color: #959ca1; }

/* Comment */
.syntax .err {
  color: #ee2e24; }

/* Error */
.syntax .k {
  color: #98005d; }

/* Keyword */
.syntax .l {
  color: #f386a1; }

/* Literal */
.syntax .n {
  color: #231f20; }

/* Name */
.syntax .o {
  color: #85cebc; }

/* Operator */
.syntax .p {
  color: #231f20; }

/* Punctuation */
.syntax .cm {
  color: #959ca1; }

/* Comment.Multiline */
.syntax .cp {
  color: #959ca1; }

/* Comment.Preproc */
.syntax .c1 {
  color: #959ca1; }

/* Comment.Single */
.syntax .cs {
  color: #959ca1; }

/* Comment.Special */
.syntax .gd {
  color: #ee2e24; }

/* Generic.Deleted */
.syntax .ge {
  font-style: italic; }

/* Generic.Emph */
.syntax .gh {
  color: #231f20;
  font-weight: bold; }

/* Generic.Heading */
.syntax .gi {
  color: #00853e; }

/* Generic.Inserted */
.syntax .gp {
  color: #959ca1;
  font-weight: bold; }

/* Generic.Prompt */
.syntax .gs {
  font-weight: bold; }

/* Generic.Strong */
.syntax .gu {
  color: #85cebc;
  font-weight: bold; }

/* Generic.Subheading */
.syntax .kc {
  color: #98005d; }

/* Keyword.Constant */
.syntax .kd {
  color: #98005d; }

/* Keyword.Declaration */
.syntax .kn {
  color: #85cebc; }

/* Keyword.Namespace */
.syntax .kp {
  color: #98005d; }

/* Keyword.Pseudo */
.syntax .kr {
  color: #98005d; }

/* Keyword.Reserved */
.syntax .kt {
  color: #ffd204; }

/* Keyword.Type */
.syntax .ld {
  color: #00853e; }

/* Literal.Date */
.syntax .m {
  color: #f386a1; }

/* Literal.Number */
.syntax .s {
  color: #00853e; }

/* Literal.String */
.syntax .na {
  color: #009ddc; }

/* Name.Attribute */
.syntax .nb {
  color: #231f20; }

/* Name.Builtin */
.syntax .nc {
  color: #ffd204; }

/* Name.Class */
.syntax .no {
  color: #ee2e24; }

/* Name.Constant */
.syntax .nd {
  color: #85cebc; }

/* Name.Decorator */
.syntax .ni {
  color: #231f20; }

/* Name.Entity */
.syntax .ne {
  color: #ee2e24; }

/* Name.Exception */
.syntax .nf {
  color: #009ddc; }

/* Name.Function */
.syntax .nl {
  color: #231f20; }

/* Name.Label */
.syntax .nn {
  color: #ffd204; }

/* Name.Namespace */
.syntax .nx {
  color: #009ddc; }

/* Name.Other */
.syntax .py {
  color: #231f20; }

/* Name.Property */
.syntax .nt {
  color: #85cebc; }

/* Name.Tag */
.syntax .nv {
  color: #ee2e24; }

/* Name.Variable */
.syntax .ow {
  color: #85cebc; }

/* Operator.Word */
.syntax .w {
  color: #231f20; }

/* Text.Whitespace */
.syntax .mf {
  color: #f386a1; }

/* Literal.Number.Float */
.syntax .mh {
  color: #f386a1; }

/* Literal.Number.Hex */
.syntax .mi {
  color: #f386a1; }

/* Literal.Number.Integer */
.syntax .mo {
  color: #f386a1; }

/* Literal.Number.Oct */
.syntax .sb {
  color: #00853e; }

/* Literal.String.Backtick */
.syntax .sc {
  color: #231f20; }

/* Literal.String.Char */
.syntax .sd {
  color: #959ca1; }

/* Literal.String.Doc */
.syntax .s2 {
  color: #00853e; }

/* Literal.String.Double */
.syntax .se {
  color: #f386a1; }

/* Literal.String.Escape */
.syntax .sh {
  color: #00853e; }

/* Literal.String.Heredoc */
.syntax .si {
  color: #f386a1; }

/* Literal.String.Interpol */
.syntax .sx {
  color: #00853e; }

/* Literal.String.Other */
.syntax .sr {
  color: #00853e; }

/* Literal.String.Regex */
.syntax .s1 {
  color: #00853e; }

/* Literal.String.Single */
.syntax .ss {
  color: #00853e; }

/* Literal.String.Symbol */
.syntax .bp {
  color: #231f20; }

/* Name.Builtin.Pseudo */
.syntax .vc {
  color: #ee2e24; }

/* Name.Variable.Class */
.syntax .vg {
  color: #ee2e24; }

/* Name.Variable.Global */
.syntax .vi {
  color: #ee2e24; }

/* Name.Variable.Instance */
.syntax .il {
  color: #f386a1; }

/* Literal.Number.Integer.Long */
small, .content table, .excerpt--small, .excerpt--tiny, .page--index pre, .page--index table, .footer, .sidebar {
  font-size: 0.75rem;
  line-height: 1.2rem; }

.article__metadata {
  font-size: 0.85rem;
  line-height: 1.36rem; }

h5, .content h4, .content h5, .excerpt--code, .content pre, .excerpt--code--light, .page--index pre, .hero__release__link {
  font-size: 1rem;
  line-height: 1.6rem; }

h4, .content h3, .excerpt--large, .page--index blockquote, .hero__button, .hero__release {
  font-size: 1.333rem;
  line-height: 1.92rem; }

h3, .button__icon, .content h2, .header__name, .hero h1.hero__headline, .navigation__toggler {
  font-size: 1.777rem;
  line-height: 2.24rem; }

h2, .content h1 {
  font-size: 2.369rem;
  line-height: 3.2rem; }

h1 {
  font-size: 3.157rem;
  line-height: 4rem; }

html {
  font-size: 100%;
  line-height: 1.6em; }

@media (min-width: 569px) {
  html {
    font-size: 1.1rem; } }

@media (min-width: 769px) {
  html {
    font-size: 1.2rem; } }

body {
  background-color: #fff;
  color: #666;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; }

blockquote {
  margin: 0; }

a {
  color: #cc0000;
  text-decoration: none; }
  a:hover {
    color: #990000; }

hr {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
  clear: both;
  background-color: #e6e6e6;
  border: 0;
  color: #666;
  display: block;
  height: 2px; }
  hr:after {
    content: "";
    display: table;
    clear: both; }

.updated {
  float: right;
  font-style: italic;
  font-size: .9em; }

pre {
  margin: 0; }
  pre code {
    padding: 0; }

code {
  background-color: whitesmoke;
  border-radius: 0.2rem;
  color: #000;
  padding: 0.2rem 0.4rem; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  margin-top: 0rem;
  margin-bottom: 1.6rem;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  color: #000; }

table {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-bottom-width: 4px;
  border-spacing: 0;
  border-collapse: separate;
  color: #404040;
  width: 100%; }
  table thead th {
    border-bottom: 4px solid #e6e6e6;
    text-align: left; }
  table tbody tr:nth-child(2n-1) {
    background-color: whitesmoke; }
  table tr:last-child td {
    border-bottom: 0; }
  table th,
  table td {
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    padding: 0.8rem;
    vertical-align: top; }
    table th:last-child,
    table td:last-child {
      border-right: 0; }

p {
  margin-bottom: 1.6rem; }
  p:last-child {
    margin-bottom: 0rem; }

ul, ol {
  margin-bottom: 1.6rem;
  margin-left: 2rem; }

li {
  display: list-item;
  list-style-type: disc; }

strong {
  font-weight: 700; }

.article__title {
  margin-bottom: 0.4rem; }

.button, .button--large, .button--slim {
  font-weight: 600;
  background-color: #cc0000;
  background-image: none;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding: 0.4rem 1.2rem; }
  .button:hover, .button--large:hover, .button--slim:hover {
    background-color: #990000;
    color: #fff; }
  .button--large {
    padding: 0.8rem 1.6rem; }
  .button--slim {
    padding: 0.2rem 0.8rem; }
  .button__icon {
    line-height: 0.8rem;
    margin-right: 0.8rem; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.content__chapter-title {
  margin-bottom: 0rem;
  font-weight: 700;
  color: #000; }

.content pre {
  display: block; }

.content table {
  margin-bottom: 1.6rem; }

.excerpt, .excerpt--small, .excerpt--tiny, .page--index pre, .page--index table, .excerpt--large, .page--index blockquote, .excerpt--inline, .excerpt--code, .content pre, .excerpt--code--light {
  color: #000;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-style: italic;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem; }
  .excerpt:last-child, .excerpt--small:last-child, .excerpt--tiny:last-child, .page--index pre:last-child, .page--index table:last-child, .excerpt--large:last-child, .page--index blockquote:last-child, .excerpt--inline:last-child, .excerpt--code:last-child, .content pre:last-child, .excerpt--code--light:last-child {
    margin-bottom: 0rem; }
  .excerpt--small, .excerpt--tiny, .page--index pre, .page--index table {
    width: 83.33333%; }
  @media (min-width: 769px) {
    .excerpt--tiny, .page--index pre {
      width: 66.66667%; } }
  @media (min-width: 569px) {
    .excerpt--large, .page--index blockquote {
      font-size: 1.777rem;
      line-height: 2.24rem; } }
  .excerpt--inline, .excerpt--code, .content pre, .excerpt--code--light, .page--index pre, .page--index table {
    text-align: left; }
  .excerpt--code, .content pre, .excerpt--code--light, .page--index pre {
    line-height: 1.28rem;
    background-color: whitesmoke;
    border-radius: 5px;
    font-family: Menlo, monospace;
    overflow: auto;
    padding: 1.2rem;
    -webkit-overflow-scrolling: touch; }
    .excerpt--code--light, .page--index pre {
      background: none;
      border: 2px solid #e6e6e6; }
      .excerpt--code--light code, .page--index pre code {
        background: none; }

.footer {
  margin-bottom: 3.2rem;
  color: #666;
  text-align: center; }

.grid {
  max-width: 57.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.28rem; }
  .grid:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 769px) {
    .grid {
      padding: 1.28rem 3.2rem; } }

.header {
  margin-bottom: 3.2rem;
  width: 100%; }
  @media (min-width: 569px) {
    .header {
      margin-bottom: 4.8rem; } }
  @media (min-width: 769px) {
    .header {
      margin-bottom: 6.8rem; } }
  .header__name {
    color: #000; }
    @media (min-width: 569px) {
      .header__name {
        margin-bottom: 0rem;
        position: absolute;
        left: 1.28rem; } }
    .header__name a {
      background: none;
      color: inherit; }
  @media (min-width: 569px) {
    .header__navigation {
      position: absolute;
      right: 1.28rem;
      top: 1.6rem; } }

.hero {
  margin-bottom: 1.6rem;
  text-align: center; }
  .hero__logo {
    display: block;
    margin: 0 auto;
    max-width: 12.8rem;
    width: 100%; }
    @media (min-width: 769px) {
      .hero__logo {
        max-width: 33.33333%; } }
  .hero h1.hero__headline {
    font-weight: 400;
    color: #000; }
    @media (min-width: 769px) {
      .hero h1.hero__headline {
        font-size: 3.157rem;
        line-height: 4rem; } }
  .hero__text {
    margin-bottom: 1.6rem; }
    @media (min-width: 569px) {
      .hero__text {
        margin-top: 3.2rem;
        margin-bottom: 3.2rem;
        font-size: 1.333rem;
        line-height: 1.92rem; } }
  .hero__release__label {
    color: #f00; }
  .hero__release__link {
    font-weight: 400;
    color: #666; }

.highlight {
  display: inline; }

.label, .label--dark {
  font-weight: 600;
  color: #f00; }
  .label--dark {
    color: #404040; }

.navigation__toggler {
  position: absolute;
  top: 1.28rem;
  right: 1.28rem; }
  @media (min-width: 569px) {
    .navigation__toggler {
      display: none; } }
  .navigation__toggler--is-hidden {
    display: none; }

.navigation__items {
  display: none;
  margin-left: 0;
  margin-top: 1.6rem; }
  @media (min-width: 569px) {
    .navigation__items {
      display: block;
      margin-top: 0; } }
  .navigation__items--is-active {
    display: block; }

.navigation__item {
  border-bottom: 1px solid #e6e6e6;
  display: block; }
  @media (min-width: 569px) {
    .navigation__item {
      border: 0;
      display: inline-block;
      list-style: none;
      margin-left: 0;
      margin-right: 0.8rem; }
      .navigation__item:last-child {
        margin-right: 0; } }
  .navigation__item:last-child {
    border-bottom: 0; }

.navigation__link, .navigation__link--is-active {
  font-weight: 600;
  background: none;
  color: #000;
  display: inline-block;
  padding: 0.4rem 0; }
  @media (min-width: 569px) {
    .navigation__link, .navigation__link--is-active {
      padding: 0; } }
  .navigation__link:hover, .navigation__link--is-active {
    color: #cc0000; }

.padrino-name {
  font-weight: 700;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -0.07em; }

.page {
  margin-bottom: 3.2rem; }
  .page:after {
    content: "";
    display: table;
    clear: both; }
  .page--index {
    text-align: center; }
    @media (min-width: 769px) {
      .page--index {
        padding-left: 6.25%;
        padding-right: 6.25%; } }
    .page--index pre {
      display: block; }
  @media (min-width: 569px) {
    .page__sidebar {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 25%;
      float: left;
      padding-left: 2.08333%;
      padding-right: 2.08333%; } }
  @media (min-width: 569px) {
    .page__content {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 75%;
      float: right;
      padding-left: 2.08333%;
      padding-right: 2.08333%; } }

.sidebar__header, .sidebar__header--first {
  margin-bottom: 0.4rem; }
  .sidebar__header--first {
    margin-bottom: 1.6rem; }
    @media (min-width: 569px) {
      .sidebar__header--first {
        line-height: 3.2rem; } }

.sidebar__items {
  margin-left: 0; }

.sidebar__item {
  display: block; }
  .sidebar__item:last-child {
    border-bottom: 0; }

.sidebar__link, .sidebar__link--is-active {
  background: none;
  color: inherit;
  display: block;
  padding: 0.2rem 0; }
  .sidebar__link:hover, .sidebar__link--is-active:hover {
    color: #cc0000; }
  .sidebar__link--is-active {
    font-weight: 600;
    color: #cc0000; }

a.gitter-open-chat-button, a.gitter-open-chat-button:hover {
  background-color: #c00;
  border-color: #443d68; }
