// Establish a vertical rhythm
@include establish-baseline;

// Include Open Sans from Google Fonts
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

@include breakpoint(bp(step-1)) {
  html {
    font-size: 1.1rem;
  }
}

@include breakpoint(bp(full)) {
  html {
    font-size: 1.25rem;
  }
}

body {
  background-color: color(white);
  color: color(gray);
  font-family: font(base);
}

// Blockquote
blockquote {
  margin: 0;
}

// Anchor
a {
  // background-image: linear-gradient(to bottom, rgba(color(red--semi-dark),0) 50%, rgba(color(red--semi-dark),0.6) 50%);
  // background-repeat: repeat-x;
  // background-size: 2px 2px;
  // background-position: 0 1.05em;
  color: color(red--semi-dark);
  text-decoration: none;

  &:hover {
    color: color(red--dark);
  }
}

// Horizontal Rule
hr {
  @include span(6 no-gutters);
  @include pre(3);
  @include post(3);
  @include margin-leader(1);
  @include margin-trailer(2);
  @include clearfix;
  clear: both;
  background-color: color(gray--light);
  border: 0;
  color: color(gray);
  display: block;
  height: 2px;
}
